/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

textarea {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color: #fa874e;
  resize: none;
}

.newItem {
  font-size: 14px;
  height: 200px;
  width: 350px;
  border-radius: 10px;
  background-color: #adb5de;
}

.container {
  position: relative;
  height: 200px;
  width: 350px;
}

.containerList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;

  margin: 10px 50px 10px 50px;
}

.saveButton {
  height: 30px;
  font-size: 12px;
}
.activeCard {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-inline: 10px;

  font-weight: 600;
  font-size: 12px;
}

@media (max-width: 1200px) {
  .containerList {
    grid-template-columns: 1fr 1fr;
  }
}
/* @media (max-width: 800px) {
  .containerList {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    width: 250px;
  }
} */
